*.mp3
*.mp4
*.pdf
*.png
*.jpeg
*.jpg
*.aux
*.entitlements
*.gradle
*.h
*.kt
*.log
*.nav
*.out
*.pbxproj
*.plist
*.pro
*.properties
*.rules
*.snm
*.storyboard
*.swift
*.toc
*.ttf
*.xcconfig
*.xcprivacy
*.xcscheme
*.xcsettings
*.xcworkspacedata
